// variables
$color-1 : #9356DC;
$color-2 : #FF79DA;
$color-3 : #99E2D0;


// mixins
@mixin flexbox-column {
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
@mixin flexbox-row {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}


// base
* { 
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
    scroll-behavior:smooth; 
}
body {
    @include flexbox-column;
    margin:0px;
    font-size:100%;
    box-sizing:border-box;
    justify-content:flex-start;
}

h3{
    width:100%;
    font-size:1.2rem;
    margin:0px 0px 5px 0px;
}
h4{

}
a, a:active, a:visited {
    text-decoration:none;
}
span{
    text-align: center;
}
ul {
    list-style : none;
    margin:0;
    padding:0;
    li {
        margin-bottom:5px;
        .fas {
            margin-right:5px;
        }
    }
}

@keyframes display {
    0% {
        opacity:0;
      }
    50% {
        opacity:0;
      }
    100% {
        opacity:1;
      }
  }
  @keyframes displayAndMargin {
    0% {
        opacity:0;
        margin-top:20px;
      }
    50% {
        opacity:0;
        margin-top:20px;
      }
    100% {
        opacity:1;
        margin-top:0;
      }
  }
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  @keyframes  overflow {
    0% {
        overflow:hidden;
      }
    99% {
        overflow:hidden;
      }
    100% {
        overflow:auto;
      }
  }
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}