.fonctionnementTitle, .restaurantTitle{
    width:100%;
    font-size:1.8rem;
    padding:0px 15px 15px 15px;
    margin:0;
}
.newRestaurant{
    position:absolute;
    top:10px;
    right:10px;
    display:inline-block;
    padding:6px 12px;
    border-radius:4px;
    background-color:$color-3;
    color:green;
    font-size:0.8rem;
}

.coeur1{
    position:absolute;
    top:15px;
    right:20px;
    font-size:1.5rem;
    transition: linear 0.2s;
    z-index:1;
    opacity:1;
    cursor:pointer;
}
.coeur2{
    z-index:0;
    opacity:0;
    position:absolute;
    top:15px;
    right:20px;
    font-size:1.5rem;
    transition: linear 0.2s;
    background:linear-gradient(160deg, $color-2, $color-1); 
    -webkit-background-clip: text;
    color:transparent;
    cursor:pointer;

}
.coeurs:hover{
    & .coeur1{
        z-index:0;
        opacity:0;
    }
    & .coeur2{
        z-index:1;
        opacity:1;
    }
}



// spinner 
.loaderContainer{
    @include flexbox-column;
    position:fixed;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: $color-1; /* For browsers that do not support gradients */
    background-image:linear-gradient(160deg, $color-2, $color-1);
    z-index:-1;
}
.loaderTitle{
    color:white;
    font-family: 'Shrikhand';
    font-weight:100;
    font-size:1.5rem;
    margin-bottom:15px;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}


.transform{
    animation: display 2s;
}
.overflow{
    animation: overflow 2s;
}